<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lianpos.activity"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 读写数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18"
        tools:overrideLibrary="mypicker" />

    <application
        android:name="com.lianpos.db.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logos"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="com.lianpos.activity.WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lianpos.activity.MainActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="com.lianpos.devfoucs.linkman.ui.LinkManActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name="com.lianpos.zxing.android.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name="com.lianpos.devfoucs.shoppingcart.MerchantActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name="com.lianpos.devfoucs.shoppingcart.CommodityManagementActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name="com.lianpos.devfoucs.listviewlinkage.Activity.LinkageActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

        <activity android:name="com.lianpos.devfoucs.homepage.activity.MakeActivity"></activity>
        <activity android:name="com.lianpos.devfoucs.login.activity.RegisterActivity"></activity>
        <activity android:name="com.lianpos.devfoucs.login.activity.LoginActivity"></activity>
        <activity android:name="com.lianpos.devfoucs.login.activity.RegisterInfoActivity"></activity>
        <activity android:name="com.lianpos.devfoucs.login.activity.RegisterAreaActivity"></activity>
        <activity android:name="com.lianpos.devfoucs.homepage.activity.InquirySheetActivity"></activity>
        <activity android:name="com.lianpos.devfoucs.homepage.activity.MakeMoneyActivity"></activity>
        <activity android:name="com.lianpos.devfoucs.homepage.activity.IWantBillingActivity"></activity>
        <activity android:name="com.lianpos.devfoucs.reportform.activity.ReportForm"></activity>
        <activity android:name="com.lianpos.devfoucs.reportform.activity.ModifyPassword"></activity>
        <activity android:name="com.lianpos.devfoucs.reportform.activity.PrinterActivity"></activity>
        <activity android:name="com.lianpos.devfoucs.reportform.activity.EditerAreaActivity"></activity>
        <activity android:name="com.lianpos.devfoucs.reportform.activity.EnterpriseInformation"></activity>
        <activity android:name="com.lianpos.devfoucs.contacts.ui.AddFriendActivity"></activity>
        <activity android:name="com.lianpos.devfoucs.contacts.ui.AddPhoneNmbActivity"></activity>
        <activity android:name="com.lianpos.devfoucs.shoppingcart.activity.IncreaseCommodityActivity"></activity>
        <activity android:name="com.lianpos.devfoucs.shoppingcart.activity.ChooseListView"></activity>
        <activity android:name="com.lianpos.devfoucs.homepage.activity.InquirySheetListActivity"></activity>
        <activity android:name="com.lianpos.devfoucs.homepage.activity.InquiryEditerActyvity"></activity>
        <activity android:name="com.lianpos.devfoucs.homepage.activity.ScanningActivity"></activity>
        <activity android:name="com.lianpos.scancodeidentify.zbar.ZbarActivity"></activity>
        <activity android:name="com.lianpos.devfoucs.homepage.activity.BillingFristPageActivity"></activity>
        <activity android:name="com.lianpos.devfoucs.homepage.activity.ViewInventoryActivity"></activity>
        <activity android:name="com.lianpos.devfoucs.homepage.activity.ShopInformation"></activity>
    </application>

</manifest>
