<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lianpos.activity"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18"
        tools:overrideLibrary="mypicker"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="com.lianpos.devfoucs.login.activity.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.lianpos.devfoucs.homepage.activity.MakeActivity"></activity>
        <activity android:name="com.lianpos.activity.MainActivity"></activity>
        <activity android:name="com.lianpos.devfoucs.login.activity.RegisterActivity"></activity>
        <activity android:name="com.lianpos.devfoucs.login.activity.RegisterInfoActivity"></activity>
    </application>

</manifest>
